<div class="bg-light px-2 text-uppercase font-weight-bold" style="padding: 1.20em;">
    Итог Заказа
</div>
<div>
    <p class="font-italic mb-4">Стоимость доставки бужет добавлена после выбора в оформлении заказа</p>
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Сумма</strong>
            <strong>{{subtotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Доставка</strong>
            <strong>{{shippingPrice | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Итого</strong>
            <strong>{{total | currency}}</strong>
        </li>
    </ul>
</div>
