.custom-pagination::ng-deep .page-item{
  &.active .page-link {
    border: 2px solid var(--accent-color);
  }
  &.disabled .page-link {
    color: var(--light-gray);
  }
  .page-link{
    background-color: var(--white) !important;
    color: var(--accent-color);
    font-family: 'Barlow', sans-serif;
    border: none;
    font-size: 18px;
    line-height: 22px;
    padding: 3px 10px;
    margin: 0 10px;

    &:hover{
      background-color: var(--alto-color) !important;
    }
  }
}

