<div class="d-flex justify-content-center mt-5">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form login-form">

    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
    </div>

    <app-text-input formControlName="email" [label]="'Элетронная почта'"></app-text-input>
    <app-text-input formControlName="password" [label]="'Пароль'" [type]="'password'"></app-text-input>

    <button [disabled]="loginForm.invalid" class="btn">Войти</button>
    <p class="message text-center">Не зарегестированы? <a routerLink="/account/register">Создать аккаунт</a></p>
  </form>
</div>
