<div class="container mt-5">
    <div><i class="fa fa-check-circle fa-5x" style="color: var(--purple-color);"></i></div>
    <h2>Спасибо.  Ваш заказ подтвержден</h2>
    <p class="mb-4">Здесь должен быть текст о том, как я рад, что ты купил(а) нереальные товары 😘</p>
    <button *ngIf="order" routerLink="/orders/{{order?.id}}" class="btn btn-outline-success">Посмотреть заказ</button>
    <button *ngIf="!order" routerLink="/orders" class="btn btn-outline-success">Посмотреть список заказов</button>
</div>
