# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.last try (i hope).iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Курсач\WebSite\last try (i hope)\.idea\.idea.last try (i hope)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
