<div class="header__top bg-white border-bottom shadow-sm fixed-top">
  <div class="container">
    <div class="header__top-inner">

      <nav class="header__menu menu">

        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" routerLink="/shop" routerLinkActive="active">Магазин</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="/test-errors" routerLinkActive="active">Ошибки</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="/coming-soon">Доставка и оплата</a>
          </li>
        </ul>

      </nav>

      <a class="header__logo logo" [routerLink]="['/']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        <img class="header__logo--desktop" src="assets/images/logo.svg" alt="Logo">
      </a>

      <div class="header__box box">
        <div class="box__address" routerLink="/coming-soon" style="cursor: pointer">Какая-то улица</div>
        <ul class="box__panel panel">
          <li class="panel__item">
            <a class="panel__link" routerLink="/coming-soon">
              <img src="assets/images/fav-icon.svg" alt="Favourites">
            </a>
          </li>
          <li class="panel__item">
            <ng-container *ngIf="(currentUser$ | async) === null">
              <a class="panel__link" routerLink="/account/login">
                <img src="assets/images/user-icon.svg" alt="User">
              </a>
            </ng-container>
            <ng-container *ngIf="currentUser$ | async">
              <div class="dropdown" dropdown>
                <a class="panel__link dropdown-toggle" dropdownToggle>
                  <img src="assets/images/user-icon.svg" alt="User">
                </a>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                  <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
                    <i class="fa fa-shopping-cart mr-3"></i> Посмотреть корзину
                  </a>
                  <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
                    <i class="fa fa-history mr-3"></i> Посмотреть заказы
                  </a>
                  <div class="dropdown-divider"></div>
                  <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
                    <i class="fa fa-sign-out mr-3"></i> Выйти
                  </a>
                </div>
              </div>
            </ng-container>
          </li>
          <li class="panel__item">
            <a class="panel__link cart" routerLink="/basket">
              <img src="assets/images/cart-icon.svg" alt="Cart">
              <p *ngIf="(basket$ | async) as basket" class="cart__text">{{basket.items.length}}</p>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- /.header__top-inner -->
  </div>
  <!-- /.container -->
</div>
