<header class="header">
  <div class="container">
    <div class="header-inner">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link"> Магазины </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link"> Акции </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link"> Доставка и оплата </a>
          </li>
        </ul>
      </nav>
      <a href="#" class="logo">
        <img class="logo__img" src="assets/images/logo.svg" alt="" />
      </a>
      <div class="header__box">
        <div class="header__address">Москва, ул. Науки 25</div>
        <ul class="user-list">
          <li class="user-list__item">
            <a href="#" class="user-list__link"
            ><img src="assets/images/hearth.svg" alt=""
            /></a>
          </li>
          <li class="user-list__item">
            <a href="#" class="user-list__link"
            ><img src="assets/images/user.svg" alt=""
            /></a>
          </li>
          <li class="user-list__item">
            <a href="#" class="user-list__link cart">
              <img src="assets/images/cart.svg" alt="" />
              <p class="cart__num">1</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
